.Home {
	margin-top: 3rem;
}
.Home-body {
	display: grid;
	grid-template-columns: repeat(2, minmax(100px, 1fr));
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px; 
	margin: 0 10%;
	margin-bottom:100px;
}
